<div ng-controller="HomeCtrl as home" class="container-fluid">
  <div class="row">
    <div class="col-xs-12">

      <div class="content row">

        <div class="latest col-md-8">
          <h6>LATEST RELEASES</h6>

          <div class="rls" ng-repeat="item in home.latestrls">
            <div class="{{'rls-img ' + item.pic}}"></div>
            <div class="rls-text">
            <small>{{item.date}}</small> <br>
            <h2>{{item.series}}</h2>
            <h4>Chapter {{item.chapter}}</h4>
            <br> 
            <a href="{{item.batoto}}" class="btn btn-outline-primary">Read</a>
            <a href="{{item.mega}}" class="btn btn-outline-link">Download</a>
            </div>
          </div>           
        </div>
      
        <div class="sidebar col-md-4">
          <div class="updates">
          <h6 class="updates-h6">UPDATES</h6>
          <small>August 12</small>
          <p>Gingitsune's translator has retired. <br>The series has been dropped for now.</p>
          </div>
          <hr>

          <div class="status">

            <h6>STATUS</h6>

            <div class="status-card" ng-repeat="item in home.status">
              <div class="{{'status-img ' + item.pic}}"></div>
              {{item.series}} - {{item.chapter}}<br>
              <em>{{item.status}}</em>
            </div>

          </div>
        </div>

      </div>

      <div class="disqus row">
        <div class="col-md-8">
          <hr>
        </div>
      </div>

    </div>
  </div>
</div>
