<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">

      <div class="content row">

        <div class="latest col-md-8">
          <div class="rls" ng-repeat="item in $ctrl.getLatest()">
            <div class="{{'rls-img ' + item.pic}}"></div>
            <div class="rls-text"> 
            <small class="rls-date">{{item.date}}</small><br>
            <h4>{{item.series}} - {{item.chapter}}</h4>
            <hr>
            <a href="{{item.batoto}}" class="btn btn-secondary btn-sm"><i class="fa fa-book"></i> Read</a>
            <a ng-hide="{{item.licensed}}" href="{{item.mega}}" class="btn btn-secondary btn-sm"><i class="fa fa-download"></i> Download</a>
            <a ng-show="{{item.licensed}}" href="" class="btn btn-secondary btn-sm disabled"><i class="fa fa-download"></i> Licensed</a>
            </div>
          </div>           
        </div>

        <div class="col-md-4">
          <div class="sidebar">
          <div class="updates">
          <h6>Notice</h6>
          <small class="rls-date">{{'December 30'}}</small>
          <p>New series, new help needed!<br>We need people to help out with putting the translations on the page, aka lettering. You'll need Photoshop. <br><a href="http://webchat.irchighway.net/#maigo">Try out!</a></p>
          </div>

          <div class="status">

            <h6>Status</h6>

            <div class="status-card" ng-repeat="item in $ctrl.getStatus()">
              <div class="{{'status-img ' + item.pic}}"></div>
              {{item.series}} - {{item.chapter}}<br>
              <em>{{item.status}}</em>
            </div>

          </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
