<div id="reader-body" class="col-xs-12" ng-keyup="$ctrl.kbCtrl($event.keyCode)" tabindex="1">
    <div class="btn-group reader-nav reader-close" role="group">
      <a class="btn btn-default" href="/#/" role="button"><i class="fa fa-times fa-2x"></i></a>
    </div>
    <div class="btn-group reader-nav reader-setting" role="group">
      <a class="btn btn-secondary btn-sm" ui-sref="read.single({pg:0})" ui-sref-active="active" role="button">Single</a>
      <a class="btn btn-secondary btn-sm" ui-sref="read.double({pg:0})" ui-sref-active="active" role="button">Double</a>
    </div>
    <div class="row">
        
        <div ng-class="{'col-xs-12': !$ctrl.disqus, 'col-xs-6': $ctrl.disqus, 'col-sm-7': $ctrl.disqus, 'col-md-8': $ctrl.disqus, 'col-lg-9': $ctrl.disqus}">

          <div class="row reader-row">
          
            <ui-view></ui-view>
 <!--            <div ng-class="{'col-md-6':!$ctrl.spread, 'col-md-12':$ctrl.spread}">
            </div> -->

          </div>

        </div>

    </div>

</div>




