/*
Cheat sheet:
font: italic small-caps bold 34px/100px "Times New Roman", Times, serif;
box-shadow: 1px 1px 1px #333;
*/
/*
Whole numbers for em for googlefonts are the best looking.
*/


/* General Section */
a:link {
    border-bottom:solid 1px;
    color:#889ad4;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-out;
}
a:hover {
    opacity:0.4;
}
a:visited {
    color:#d46a6c;
}
body {
	font: 300 20px 'Open Sans', sans-serif;
	color: #444;
	background: #EDEDED;
}
em {
    font-style:italic;
}
strong {
    font-weight: 800;
}


/* Common effects */
.fadeopacity {
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-out;
}
.smallOpenSans {
    font: 300 16px 'Open Sans', sans-serif;
}



/* Header */
#header {
    height:400px;
    background:#000;
}
#logo {
    /*font: bold 3em "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
    margin: 0 auto;
    padding-top: 80px;
    text-align:center;
}
.mo {
    color:#EDEDED;
    margin:0 auto;
    width:200px;
    margin-top:50px;
    text-align:center;
}
#social {
    width:135px;
    position:absolute;
    bottom:245px;
    right:60px;
}
.twitter {
    background:url('./pics/Twitter64w.png');
    background-repeat:no-repeat;
    height:64px;
    width:64px;
    display:inline-block;
    transition: .15s ease-in-out;
   -moz-transition: .15s ease-in-out;
   -webkit-transition: .15s ease-out;
}
.twitter:hover {
    background:url('./pics/Twitter64b.png');
}
.MU {
    background:url('./pics/MU64w.png');
    background-repeat:no-repeat;
    height:64px;
    width:64px;
    display:inline-block;
    transition: .15s ease-in-out;
   -moz-transition: .15s ease-in-out;
   -webkit-transition: .15s ease-out;
}
.MU:hover {
    background:url('./pics/MU64b.png');
}



/* Release Section */
.releasecontainer {
    width:100%;
    margin:0 auto;
    text-align:center;
    padding-top:80px;
}
.releasecontainer .imgcontainer {
    margin:0 auto;
    width:800px;
    height:160px;
}
.release {
    max-width:1280px;
    min-width:1000px;
    margin:0 auto;
    padding-top:80px;
    padding-bottom:140px;
    position:relative;
}
.releasecontainer h1 {
    font:300 50px 'Open Sans', sans-serif;
}
.release h2 {
    font:300 italic 160% 'Open Sans', sans-serif ;
    color:#555;
    margin-bottom:-15px;
}
.release h3{
    font:800 italic 30px 'Open Sans', sans-serif;
    color:#666;
}
.release h4 {
    font:300 1em 'Open Sans', sans-serif;
    margin-top:20px;
    margin-bottom:30px;
}
.release p {
    color:#888;
}
.haganai {
    height:500px;
}
.mechanical {
    height:830px;
}
.mechanical .relimg {
    position:absolute;
    height:auto;
    left:-120px;
}
.mechanical .reltext {
    position:absolute;
    right:60px;
    text-align:left;
    width:46%;
    top:300px;
}
.haganai .relimg {
    position:absolute;
    height:auto;
    right:0px;
    bottom:-6px;    
}
.haganai .reltext {
    position:absolute;
    left:60px;
    text-align:left;
    width:50%;
    min-width:49%;
}





/* Project Section */
#projectcontainer {
    height:auto;
    background:#838C91;
    padding:100px 0 200px 0;
}
#project {
    margin:0 auto;
    width:90%;
    text-align:center;
}
#project img {
    height:300px;
    width:220px;
    border:solid 10px rgba(121, 132, 136, 0.7);
}
#project h1 {
    font: 300 italic 4.0em 'Open Sans', serif;
    color: rgb(147, 159, 162);
    margin-bottom:40px;
    padding-bottom:10px;
    border-bottom: dashed 1px;
}
#project .projoverlay {
    opacity:0;
    position:absolute;
    top:0px;
    height:inherit;
    width:inherit;
    background:#838C91;
    overflow:hidden;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-out;
    font: 300 1.0em 'Open Sans', sans-serif;
    color: #FFF;
}
#project .imgcontainer:hover .projoverlay{
    opacity:0.90;
}
#project .imgcontainer:hover h2, h3, h4{
}
#project .imgcontainer {
    display:inline-block;
    position:relative;
    width:240px;
    height:320px;
    margin:20px 2px;
}
#project h4 {
    text-align:left;
    font-size: 15px;
    position:absolute;
    bottom:0px;
    padding:0 0 0px 0px;
    margin:0 0 20px 15px;
    width:88%;
}
#project h2 {
    font: 300 25px 'Open Sans';
    width:92%;
    margin:20px 0 0 10px;
    position:absolute;
}
#project h3 {
    font:300 italic 14px 'Open Sans';
    width:92%;
    margin:150px 0 20px 10px;
    position:absolute;
}
#project span {
    font: 300 italic 1px 'Open Sans';
}



/* Comment Section */
#commentcontainer {
    height:auto;
    background:#EDEDED;
    padding:100px 0 170px 0;
}
#comment {
    margin:0 auto;
    width:600px;
    text-align:center;
}
#comment h1 {
    font: 50px 'Open Sans', sans-serif;
    margin-bottom:60px;
}



/* Footer Section */
#footercontainer {
    height:auto;
    background:#000;
    color:#EDEDED;
}
#footer {
    max-width:1280px;
    min-width:800px;
    height:500px;
    margin:0 auto;
    padding-top:50px;
    font:300 16px 'Open Sans';
    position:relative;
}
#right a {
    border-bottom:none;
}
#right a:hover {
    border-bottom:none;
    opacity:1;
}
#right a span {
    position:absolute;
    right:0;
    border-bottom:none;
    display:none;
}
#right a:hover span {
    border-bottom:none;
    display:block;
}
#left {
    width:26%;
    position:absolute;
    left:60px;
}
#middle {
    width:26%;
    position:absolute;
    left:38%;
}
#right {
    width:26%;
    position:absolute;
    right:60px;
    text-align:center;
    padding-top:10px;
}
#footer h1 {
    font:300 italic 35px 'Open Sans';
    text-align:center;
    margin-bottom:10px;
}
#bottom {
    position:absolute;
    bottom:0;
    font: 300 italic 16px 'Open Sans';
    left:41%;
}
#footer p {
    padding-bottom:20px;
}
#social a:link {
    opacity:1;
    border-bottom:none;
}
#footertext {
    width:100%;
    position:absolute;
    top:460px;
    font:300 14px 'Open Sans';
    text-align:center;
}
#right img {
    width:30%;
    height:auto;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .25s ease-in-out;
   -moz-transition: .25s ease-in-out;
   -webkit-transition: .25s ease-out;
}

#right img:hover{
    width:60%;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}