/*
Cheat sheet:
font: italic small-caps bold 34px/100px "Times New Roman", Times, serif;
box-shadow: 1px 1px 1px #333;
*/



/* General Section */
a:link {
    text-decoration:underline;
    color:#718ddb;
    transition:  .25s ease-in-out;
   -moz-transition:  .25s ease-in-out;
   -webkit-transition:  .25s ease-out;
}
a:hover {
    text-decoration:;
}
a:visited {
    color:#d46a6c;
}
body {
	font: 400 18px 'Open Sans', sans-serif;
	color: #181818;
	background: #EDEDED;
}
em {
    font-style:italic;
}
strong {
    font-weight: 800;
}
hr {
    border: 0;
    border-bottom:1px dashed #DEDEDE;
    width: 100%;
}
del {
    text-decoration:line-through;
}



/* Common effects */
.fadeopacity {
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-out;
}
.smallOpenSans {
    font: 300 20px 'Open Sans', sans-serif;
}



/* Header */
#header {
    height:450px;
    background:#181818;
    position:relative;
}
#logo {
    /*font: bold 3em "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
    margin: 0 auto;
    text-align:center;
    position:absolute;
    width:100%;
    top:110px;
}
.mo {
    color:#EDEDED;
    margin:0 auto;
    text-align:center;
    position:absolute;
    width:100%;
    top:315px;
}
.links {
    position:absolute;
    right:15px;
    top:10px;
    font-size:14px;
    color:#585858;
}



/* Release Section */
.releasecontainer {
    width:100%;
    margin:60px auto;
}
.releasecontainer .imgcontainer {
    margin:0 auto;
    width:800px;
    height:160px;
}
.release {
    max-width:1200px;
    min-width:1000px;
    margin:0 auto;
    padding:40px 0;
    position:relative;
}
.release h1 {
    font:300 50px 'Open Sans', sans-serif;
    color:#383838;
    line-height:46px;
    margin-bottom:-5px;
}
.release h2 {
    font:800 30px 'Open Sans', sans-serif;
    color:#383838;
    margin-bottom:20px;
}
.reltext h3 {
    font:300 14px 'Open Sans', sans-serif;
    color:#BDBDBD;
    margin-top:70px;
    padding-top:7px;
    border-top:1px dashed #DADADA;
}
.release p {
    color:#797979;
    margin-bottom:20px;
}
.relimg {
    position:absolute;
    height:auto;
}
.reltext {
    position:absolute;
    width:48%;
}
.mechanical {
    height:880px;
}
.mechanical .relimg {
    left:-120px;
}
.mechanical .reltext {
    right:60px;
    top:230px;
}
.haganai {
    height:715px;
}
.haganai .relimg {
}
.haganai .reltext {
    margin:0 auto;
    text-align:center;
    padding:20px;
}
.taiyou {
    height:520px;
    padding:40px 0;
}
.taiyou .relimg {
    right:5%;
}
.taiyou .reltext {
    left:60px;
    top:28%;
}
.natsu {
    height:700px;
}
.natsu .relimg {
}
.natsu .reltext {
    text-align:center;
    margin:0 auto;
}
.letra {
    height:720px;
}
.letra .relimg {
    right:0;
}
.letra .reltext {
    left:5%;
    top:30%;
}
.gonensei {
    height:650px;
}
.gonensei .relimg {
    left:10%;
}
.gonensei .reltext {
    right:5%;
    top:15%;
}



/* Project Section */
#projectcontainer {
    height:auto;
    background:#838C91;
    padding-top:60px;
    padding-bottom:80px;
}
#project {
    margin:0 auto;
    width:90%;
    text-align:center;
}
#project img {
    height:420px;
    width:300px;
    border:solid 10px rgba(121, 132, 136, 0.7);
}
#project h1 {
    font: 300 italic 80px 'Open Sans', serif;
    color: rgb(147, 159, 162);
    width:500px;
    padding-bottom:24px;
    margin:0 auto;
    margin-bottom:15px;
}
#project .projoverlay {
    height:440px;
    width:320px;
    opacity:0;
    position:absolute;
    top:0px;
    background:#838C91;
    overflow:hidden;
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-out;
    font: 300 1.0em 'Open Sans', sans-serif;
    color: #FFF;
}
#project .imgcontainer:hover .projoverlay{
    opacity:0.90;
}
#project .imgcontainer:hover h2, h3, h4{
}
#project .imgcontainer {
    display:inline-block;
    position:relative;
    height:440px;
    width:320px;
    margin:0 2px 30px 2px;
}
#project h4 {
    text-align:left;
    font-size: 17px;
    position:absolute;
    left:20px;
    bottom:30px;
    width:88%;
}
#project h2 {
    font:300 38px 'Open Sans';
    width:300px;
    margin:0 auto;
    margin-top:20px;
    text-align:center;
}
#project h3 {
    font:300 italic 14px 'Open Sans';
    margin:0 auto;
}
#project span {
    font: 300 italic 1px 'Open Sans';
}



/* Comment Section */
#commentcontainer {
    height:auto;
    background:#EDEDED;
    padding:70px 0 110px 0;
}
#comment {
    margin:0 auto;
    width:600px;
    text-align:center;
}
#commentcontainer h1 {
    font: 300 50px 'Open Sans', sans-serif;
    margin-bottom:30px;
    width:100%;
    text-align:center;
}



/* Footer Section */
#footercontainer {
    background:#181818;
    color:#EDEDED;
    padding:35px 0;
}
#footer {
    max-width:1200px;
    min-width:1000px;
    height:515px;
    margin:0 auto;
    font:300 16px 'Open Sans';
    position:relative;
}
#right a {
    border-bottom:none;
}
#right a:hover {
    border-bottom:none;
    opacity:1;
}
#right a span {
    position:absolute;
    right:0;
    border-bottom:none;
    display:none;
}
#right a:hover span {
    border-bottom:none;
    display:block;
}
#left {
    width:27%;
    position:absolute;
    left:40px;
}
#middle {
    width:28%;
    position:absolute;
    left:38%;
}
#right {
    width:27%;
    position:absolute;
    right:0px;
    text-align:center;
}
#footer h1 {
    font:300 italic 35px 'Open Sans';
    text-align:center;
}
#bottom {
    position:absolute;
    bottom:0;
    font: 300 italic 16px 'Open Sans';
    left:41%;
}
#footer p {
    margin-bottom:20px;
}
#social a:link {
    opacity:1;
    border-bottom:none;
}
#footertext {
    width:100%;
    position:absolute;
    bottom:0;
    font:300 14px 'Open Sans';
    text-align:center;
}
#right img {
    width:30%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .25s ease-in-out;
   -moz-transition: .25s ease-in-out;
   -webkit-transition: .25s ease-out;
}

#right img:hover{
    width:40%;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}