/*
Cheat sheet:
font: italic small-caps bold 34px/100px "Times New Roman", Times, serif;
box-shadow: 1px 1px 1px #333;
*/



/* General Section */
a:link {
    text-decoration:underline;
    color:#718ddb;
    transition:  .25s ease-in-out;
   -moz-transition:  .25s ease-in-out;
   -webkit-transition:  .25s ease-out;
}
a:hover {
    text-decoration:;
}
a:visited {
    color:#d46a6c;
}
body {
	font: 400 18px 'Open Sans', sans-serif;
	color: #181818;
	background: #EDEDED;
}
p {
    margin-bottom:20px;
}
em {
    font-style:italic;
}
strong {
    font-weight: 700;
}
hr {
    border: 0;
    border-bottom:1px dashed #DEDEDE;
    width: 100%;
}
del {
    text-decoration:line-through;
}
.jp {
    border-bottom:1px dotted;
    cursor:help;
}



/* Common effects */
.fadeopacity {
    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-out;
}
.smallOpenSans {
    font: 300 20px 'Open Sans', sans-serif;
}



/* Header */
header {
    height:400px;
    background:#181818;
    position:relative;
}
#logo {
    /*font: bold 3em "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;*/
    margin: 0 auto;
    text-align:center;
    position:absolute;
    width:100%;
    top:20%;
}
.mo {
    color:#EDEDED;
    text-align:center;
    position:absolute;
    width:100%;
    bottom:12%;
}
.links {
    font-size:14px;
    color:#585858;
}



/* Release Section */
.releasecontainer {
    width:100%;
    margin:60px auto;
}
.releasecontainer .imgcontainer {
    margin:0 auto;
    width:800px;
    height:160px;
}
.release {
    max-width:1200px;
    min-width:1000px;
    width:100%;
    margin:0 auto;
    padding:50px 0;
    position:relative;
}
.release h1 {
    font:300 50px 'Open Sans', sans-serif;
    color:#383838;
    line-height:46px;
    margin-bottom:-12px;
}
.release h2 {
    font:800 50px 'Open Sans', sans-serif;
    color:#383838;
    margin-bottom:20px;
}
.reltext h3 {
    font:300 14px 'Open Sans', sans-serif;
    color:#BDBDBD;
    margin-top:70px;
    padding-top:7px;
    border-top:1px dashed #DADADA;
}
.relimg {
    height:auto;
}
.reltext {
    width:48%;
    color:#686868;
}
.reltext p {
    margin-bottom:20px;
}
.mechanical {
    height:880px;
}
.mechanical .relimg {
    position:absolute;
    left:-120px;
}
.mechanical .reltext {
    position:absolute;
    right:60px;
    top:230px;
}
.haganai {
    height:auto;
}
.haganai .relimg {
    width:100%;
    text-align:center;
}
.haganai .reltext {
    text-align:center;
    margin:0 auto;
}
.taiyou {
    height:520px;
    padding:40px 0;
}
.taiyou .relimg {
    position:absolute;
    right:5%;
}
.taiyou .reltext {
    position:absolute;
    left:60px;
    top:28%;
}
.natsu {
    height:auto;
}
.natsu .relimg {
    width:100%;
    text-align:center;
}
.natsu .reltext {
    text-align:center;
    margin:0 auto;
}
.letra {
    height:720px;
}
.letra .relimg {
    position:absolute;
    right:0;
}
.letra .reltext {
    position:absolute;
    left:5%;
    top:25%;
}
.gonensei {
    height:700px;
}
.gonensei .relimg {
    position:absolute;
    left:5%;
}
.gonensei .reltext {
    position:absolute;
    right:5%;
    top:28%;
}
.kekkon {
    height:540px;
}
.kekkon .relimg {
    position:absolute;
    right:5%;
}
.kekkon .reltext {
    position:absolute;
    left:5%;
    top:13%;
}
.hakoiri {
    height:auto;
}
.hakoiri .relimg {
    width:100%;
    text-align:center;
}
.hakoiri .reltext {
    text-align:center;
    margin:0 auto;
}
.oa {
    height:780px;
}
.oa .relimg {
    position:absolute;
    left:8%;
}
.oa .reltext {
    position:absolute;
    right:5%;
    top:23%;
}
.hajiotsu {
    height:auto;
}
.hajiotsu .relimg {
    width:100%;
    text-align:center;
}
.hajiotsu .reltext {
    text-align:center;
    margin:0 auto;
}
.nonscale {
    height:700px;
}
.nonscale .relimg {
    position:absolute;
    left:16%;
}
.nonscale .reltext {
    position:absolute;
    right:5%;
    top:30%;
}
.spotted {
    height:auto;
}
.spotted .relimg {
    width:100%;
    text-align:center;
}
.spotted .reltext {
    text-align:center;
    margin:0 auto;
}


/* Project Section */
#projectcontainer {
    height:auto;
    background:#68758b;
    padding-top:60px;
    padding-bottom:80px;
}
#project {
    margin:0 auto;
    width:91%;
    max-width:1280px;
    min-width:900px;
    text-align:center;
}
#project img {
    height:420px;
    width:300px;
    box-shadow: 2px 2px 30px 0px #454a57;
    transition: .25s ease-in-out;
   -moz-transition: .25s ease-in-out;
   -webkit-transition: .25s ease-out;
/*    border:solid 10px rgba(105, 116, 145, 0.6);*/
}
#project h1 {
    font-size:80px;
    font-weight:300;
    color: #96a3b7;
    padding-bottom:24px;
    margin:0 auto;
    margin-bottom:15px;
}
#project .projoverlay {
    text-shadow: 0px 0px 6px rgb(101, 101, 101);
    cursor:default;
    color: #FEFEFE;
    height:420px;
    width:300px;
    opacity:0;
    position:absolute;
    top:0px;
/*    background:#838C91;*/
    overflow:hidden;
    transition: .10s ease-in;
   -moz-transition: .10s ease-in;
   -webkit-transition: .10s ease-in;
}
#project .imgcontainer:hover .projoverlay{
    opacity:1;
}
#project .imgcontainer:hover img {
    opacity:0.1;
}
#project .imgcontainer:hover h2, h3, h4{
}
#project .imgcontainer {
    display:inline-block;
    position:relative;
    height:420px;
    width:300px;
    margin-bottom:60px;
}
#project h4 {
    font-size:14px;
    margin:0 auto;
    width:88%;
}
#project h2 {
    font-weight:300;
    font-size:30px;
    font-style:italic;
    margin-top:45%;
    line-height:30px;
    margin-bottom:5px;
}
#project h3 {
    font-weight:300;
    font-size:14px;
    font-style:italic;
    margin-bottom:30px;
}



/* Footer Section */
#footercontainer {
    height:auto;
    background:#343434;
    padding:0px 0 110px 0;
}
footer {
    font:400 18px 'Open Sans';
    margin:0 auto;
    max-width:1200px;
    min-width:1000px;
    height:auto;
    min-height:1000px;
    position:relative;
    color:#ABABAB;
    padding-top:60px;
}
footer p {
    margin-bottom:20px;
}
#us {
    position:absolute;
    left:5%;
    width:30%;
}
#us h1 {
    margin-top:20px;
    font-size:50px;
    font-weight:300;
    margin-bottom:20px;
}
#comment {
    width:50%;
    margin-left:37%;
    padding:20px 40px;
    background:#EDEDED;
    min-height:1000px;
}
#comment h1 {
    font-size:50px;
    font-weight:300;
    color:#343434;
}
#budscontainer {
    width:100%;
    height:190px;
    background:#181818;
    padding:20px 0;
    color:#DEDEDE;
}
#buds {
    max-width:1200px;
    min-width:1000px;
    margin:0 auto;
    height:100px;
    font-size:14px;
    font-weight:300;
    position:relative;
}
#buds a {
    border-bottom:none;
}
#buds a:hover {
    border-bottom:none;
    opacity:1;
}
#buds img {
    width:50%;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: .25s ease-in-out;
   -moz-transition: .25s ease-in-out;
   -webkit-transition: .25s ease-out;
}
#buds img:hover{
    width:80%;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    filter: grayscale(0%);
}
#buds h1 {
    font-size:90px;
    font-weight:800;
    position:absolute;
    left:5%;
}
#nase {
    position:absolute;
    right:20%;
    top:14px;
    width:200px;
    text-align:center;
}
#vexed {
    position:absolute;
    right:5%;
    top:14px;
    width:200px;
    text-align:center;
}
#footjump {
    position:absolute;
    width:100%;
    text-align:center;
    bottom:-15px;
}